<div class="flex-container">
  <div class="menu-container">
      <div>
        <h1><fa-icon [icon]="['fas', 'burger']"></fa-icon> In Vorbereitung</h1>
        <ul>
          <li *ngFor="let data of inPreparationData">
            <h2>{{data.name}}</h2>
          </li>
        </ul>
      </div>
      <div class="container-ready-to-fetch">
        <h1><fa-icon [icon]="['fas', 'hand']"></fa-icon> Abholbereit</h1>
        <ul>
          <li *ngFor="let data of readyToFetchData">
            <h2>{{data.name}}</h2>
          </li>
        </ul>
    </div>
  </div>

  <div class="image-container">
    <img [src]="'/assets/images/CWK.png'" class="responsive-img logo-vis" alt="Cola-Weiss Kongress">
  </div>
</div>
